<div class="rooms-container">
  <div class="room-name">
    <h1>Chess room: <%= @room.name %></h1>
  </div>
  <div class="game-details">
    <div id="room_number" data-value="<%= @room.id %>" hidden><%= @room.id %></div>

      <div class="players">
        <div class="player-info">
          <h3>Player 1: </h3> <p id="p1"><%= @room.player1 || 'empty' %></p>
        </div>
        <div class="player-info">
          <h3>Player 2: </h3> <p id="p2"><%= @room.player2 || 'empty' %></p>
        </div>
      </div>

    <div class="actions">
      <%= link_to "Join game", join_path(id: @room.id), method: :post, remote: true, class: "btn-secondary" %>
      <%= link_to "Exit game", exit_path(id: @room.id), method: :post, class: "btn-secondary" %>
    </div>

    <h2>System messages:</h2>
    <div id="chess_messages"></div>
  </div>

  <div class="game">
    <div id="chessboard<%= @room.id %>" style="width: 400px"></div>
  </div>

  <div class="msg-container">
    <div class="msg">
      <h2>Chat:</h2>
      <div id="messages">
        <%= render @room.messages %>
      </div>
    </div>

    <div class="msg-form">
      <%= form_for @message, remote: true do |f| %>
        <%= f.label :content, "Say something" %><br>
        <%= f.text_area :content, id: "message_area" %>
        <%= f.hidden_field :room, value: @room.id %>
        <%= f.submit "Send", "data-behavior": "room_speaker", id: "clicker" %>
      <% end %>
      <%= link_to "Rooms list", rooms_path, class: "btn-secondary" %>
    </div>
   
  </div>
</div>