<h1>Chess room: <%= @room.name %></h1>

<%= render "chess" %>

<h2>Chat:</h2>
<div id="messages">
  <%= render @room.messages %>
</div>


<%= form_for @message, remote: true do |f| %>
  <%= f.label :content, "Say something" %><br>
  <%= f.text_area :content, id: "message_area" %>
  <%= f.hidden_field :room, value: @room.id %>
  <%= f.submit "Create", "data-behavior": "room_speaker", id: "clicker" %>
<% end %>

<%= link_to "Rooms list", rooms_path %>